/* ==== QUIZ QUESTION CONTAINERS ==== */
.quiz-container-outer {
  display: flex;
  justify-content: center;
}

.quiz-container {
  background: var(--trend-900);
  border-radius: 10px;
  border: solid 1px var(--gray-700);
}

/* Desktop */
@media (min-width: 768px) {
  .quiz-container {
    max-width: 960px;
    min-width: 720px;
    margin: 20px 0;
    padding: 20px 60px 40px 60px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .quiz-container {
    margin: 14px 14px;
    padding: 20px 24px 32px 24px;
    min-width: auto;
  }
}

/* ==== QUIZ QUESTIONS ==== */
.quiz-container .active-question-no {
  font-weight: 400;
  color: #fff;
  margin-bottom: 32px;
  font-size: var(--font-size-xl)
}

.quiz-container .total-question {
  font-weight: 400;
  color: var(--gray-500);
  font-size: calc(var(--font-size-md) * 0.9) 
}

.quiz-container .questions-topic {
  font-weight: 400;
  color: var(--gray-400);
  font-size: calc(var(--font-size-md) * 0.9) ;
  padding-left: 20px
}


.quiz-container h2 {
  font-size: var(--font-size-base);
  font-weight: 500;
  margin: 20px 0 0 0;
  color: #fff;
  max-width: 700px;
  min-width: 700px;
  font-family: var(--font-monospace);
}

/* Mobile */
@media (max-width: 767px) {
  .quiz-container h2 {
    font-size: calc(var(--font-size-base) * 1.1);
    max-width: 100%;
    min-width: auto;
  }
}

/* Desktop */
@media (min-width: 768px) { .quiz-container ul { margin-top: 24px } }

/* Mobile */
@media (max-width: 767px) { .quiz-container ul { margin-top: 20px } }

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: var(--font-size-base);
    background: #ffffff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    font-family: var(--font-monospace);
    margin-top: 24px;
  }

/* Desktop */
@media (min-width: 768px) { 
  .quiz-container ul li {
      border-radius: 16px;
      padding: 11px 21px;
      max-width: 700px;
      min-width: 700px;
  } 
}

/* Mobile */
@media (max-width: 767px) { 
  .quiz-container ul li {
      font-size: calc(var(--font-size-base) * 1.1);
      border-radius: 10px;
      padding: 10px 15px;
      max-width: 100%;
      min-width: auto;
  }
}
.quiz-container ul .selected-answer {
  background-color: var(--yellow-200);
  border: 1px solid var(--yellow-400);
}

.quiz-container button {
  background-image: linear-gradient(to right, rgb(224, 82, 160), rgb(241, 92, 65));
  border-radius: 9px;
  font-size: calc(var(--font-size-base) * 0.9) ;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

/* Desktop */
@media (min-width: 768px) { 
  .quiz-container button {
      padding: 10px 42px;
  }
}

/* Mobile */
@media (max-width: 767px) { 
  .quiz-container button {
      padding: 8px 30px;
      font-size: var(--font-size-base) ;
  }
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

kbd.tutorial-key {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #555;
  font-weight: 600;
  line-height: 1;
  padding: 3px 5px;
  white-space: nowrap;
  cursor: default;
  letter-spacing: 1px;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 0 2px;
  font-size: 86%;
}



/* =========== ANSWERS TO QUESTIONS ========== */


.result h3 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    text-align: center;
    color:#fff;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.result p {
    font-size: var(--font-size-base);
    font-weight: 400;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Mobile */
@media (max-width: 767px) { 
  .result p {
      font-size: var(--font-size-md);
      margin-top: 10px;
      margin-bottom: 10px;
  }
}

.result p span {
    color: var(--yellow-400);
    font-weight: 700;
}

.two-cols-result {
    display: flex;
    flex-wrap: wrap;
}

.two-cols-result div:nth-child(1) { min-width: 80% }

.two-cols-result div:nth-child(2) { min-width: 18%; text-align: right }

.two-cols-result div:nth-child(1),
.two-cols-result div:nth-child(2),
.two-cols-result div:nth-child(3),
.two-cols-result div:nth-child(4) {
    border-top: solid 1px #fff;
}

/* .two-cols-result div:nth-child(5) > div:nth-child(1),
.two-cols-result div:nth-child(6) > div:nth-child(2) {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff !important;
} */

div.two-cols-result:nth-child(2) > div:nth-child(1) {
    border-top: solid 1px #fff;
}

div.two-cols-result:nth-child(2) > div:nth-child(2) {
    border-top: solid 1px #fff;
}

div.two-cols-result:nth-child(3) > div:nth-child(1) {
    border-top: solid 1px #fff;
}

div.two-cols-result:nth-child(3) > div:nth-child(2) {
    border-top: solid 1px #fff;
}

div.two-cols-result:nth-child(4) > div:nth-child(1) {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

div.two-cols-result:nth-child(4) > div:nth-child(2) {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

h4 {
    font-size: var(--font-size-md);
    color: var(--white-000);
    margin-top: 42px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1.6px;
}

@media (max-width: 767px) { 
  h4 { margin-top: 32px; margin-bottom: 12px } 
}

.question-result {
    background-color: var(--trend-800);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 32px;
}

@media (max-width: 767px) { 
  .question-result {
      padding: 4px 20px;
      margin-bottom: 24px;
  }
}

.question-result p {
    font-size: var(--font-size-base);
    margin-bottom: 10px;
}

.correct-answer { color: var(--green-400) }

.wrong-answer { color: var(--red-400) }


/* ======= RETURN TO HOME PAGE ======= */
.result p.return-home-page {
    margin-top: 60px;
    text-align: center;
}

.result p.return-home-page a {
    color: var(--blue-400);
    text-decoration: none;
    border-bottom: solid 1px var(--blue-400);
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin-left: 12px
}